body {
    font-family: monospace;
    font-size: 1.1em;
    color: silver;
    background-color: black;
    height: 100%;
    width: 100%;
    text-align:center;
}
select {
    width: 119px;
}
input {
    width: 119px;
}
label{
    width: 60px;
}
table {
    margin: auto;
    border: #151515 1px solid;
}
td {
    border-left: #333333 1px solid;
    border-right: #333333 1px solid;
}
thead tr:first-child td{
    border: #333333 1px solid;
    border-top: #333333 1px solid;
    height: 30px;
    margin-bottom: 1000px;
    font-weight: bold;
}
table tr:nth-child(even){
    background-color: #101010;
}
#inside {
    top: 50%;
    left: 50%;
    display: table-cell;
    vertical-align: middle;
}
#outside {
    display: table;
    height: 99%;
    width: 99%;
    position: absolute;
}
#prev{
    float: left;
}
#next{
    float: right;
}
.coord {
    width: 37px;
}
.ui-widget{

    font-size: 70% !important;
}