body {
    font-family: monospace;
    font-size: 120%;
    color: silver;
    background-color: black;
    height: 100%;
    width: 100%;
    text-align:center;
    overflow: hidden;
}
table {
    margin: auto;
    border: #111111 1px solid;
}
td {
    border-left: #333333 1px solid;
    border-right: #333333 1px solid;
}
#inside {
    top: 50%;
    left: 50%;
    display: table-cell;
    vertical-align: middle;
}
#outside {
    display: table;
    height: 99%;
    width: 99%;
    position: absolute;
}